<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/aboutus.css') }}" />
    </head>
    <body>
         <div class="about-section">
             <div class="inner-container">
                 <h1> About Us </h1>
                 <p class="text">Welcome to Handiworld!</p>
                 <p class="text">
                    Handmade pieces show the power of the human spirit and its propensity to create. When you support artisan-made pieces, you also support the craft skill they practice. By supporting skills like silversmithing, basket weaving, or glassblowing, we are helping them to pass the skills to the next generation. And when we buy handmade, we affirm to kids like Pancho 2 and Alejandro that their craft is not only beautiful, but it is also profitable, and therefore, worth preserving. 
                 </p>
                 <p class="text">
                    Handiworld is not just about money. Each purchase, gives the artist, the maker, the crafts person as well as those small websites or shops who sell handmade products a confidence in their product, chance to develop their skills further, opportunity to re-invest the money back to their business and carry on producing beautiful works of art.We aim to make this world more greener and ozone-friendly to live in.Decorate your homes with nature made products.
                </p>
                <p class="text">Our HandiWorld Team wishes you Happy Shopping!</p>
                 <!--<div class="skills">
                     <span>Handiworld</span>
                     <span>Clothings & Decorations</span>
                     <span>World</span>
                 </div>-->
             </div>
             <a  class="Hbtn" href="/">Back to home page</a>
         </div>
        
        <script src="" async defer></script>
    </body>
</html>