{% extends "base.html" %} {% block title%}Home{% endblock %}
 
{% block content %}
<center>
    <section aria-label="Newest Photos">
        <div class="carousel" data-carousel>
            <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
            <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
            <ul data-slides>
                <li class="slide" data-active>
                    <img src="/static/styles/h1.jpeg" alt="Nature Image #1">
                </li>
                <li class="slide">
                    <img src="/static/styles/h2.jpeg" alt="Nature Image #2">
                </li>
                <li class="slide">
                    <img src="/static/styles/h3.jpeg" alt="Nature Image #3">
                </li>
                <li class="slide">
                    <img src="/static/styles/h4.jpeg" alt="Nature Image #4">
                </li>
                <li class="slide">
                    <img src="/static/styles/h5.jpeg" alt="Nature Image #5">
                </li>
                <li class="slide">
                    <img src="/static/styles/h6.jpeg" alt="Nature Image #6">
                </li>
            </ul>
        </div>
    </section>
</center>


    <!-- Services Section -->
    <div class="services" id="services">
        <h1>Categories</h1>
        <div class="services__wrapper">

            <a href="/jewellery"  >
                <div class="card1 services__card" >
                    <div class="services__btn"><button>Jewellery </button></div>
                </div>
            </a>

            <a href="/bag"  > 
            <div class="card2 services__card">
                <div class="services__btn"><button>Bag</button></div>
            </div>
            </a>

            <a href="/decoratives"  > 
                <div class="card3 services__card">

                    <div class="services__btn"><button>Decoratives</button></div>
                </div>
            </a>

            <a href="/saree" > 
                <div class="card4 services__card">

                    <div class="services__btn"><button>Handloomed Sari</button></div>
                </div>
            </a>

        </div>
    </div>

   

      <!--Footer Section-->
      <footer class="footer">
        <div class="footer-container">
          <div class="footer-row">
            <div class="footer-col">
              <h4>company</h4>
              <ul>
                <li><a href="/aboutus">about us</a></li>
                <!-- <li><a href="#">our services</a></li>
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">affiliate program</a></li> -->
              </ul>
            </div>
            <div class="footer-col">
              <h4>get help</h4>
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="/contactus">Contact us</a></li>
                <li><a href="#">returns</a></li>
                <li><a href="#">order status</a></li>                
              </ul>
            </div>
            <div class="footer-col">
              <h4>online shop</h4>
              <ul>
                <li><a href="/jewellery">Jewellery</a></li>
                <li><a href="/bag">Bag</a></li>
                <li><a href="/decoratives">Decoratives</a></li>
                <li><a href="/saree">Handloomed Sari</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>follow us</h4>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>

        <script src="{{ url_for('static',filename='styles/app.js') }}"></script>
        <script src="{{ url_for('static',filename='styles/homeimgscript.js') }}" defer></script>

</body>

</html>
{% endblock %}